# .htaccess restricted access file, for Apache HTTPD v2 web server
# on zamok (http://perso.crans.org/besson/zero-dechet/)
# By Lilian BESSON (mailto:lbesson[@]ens-cachan[.]fr)

AuthUserFile /home/besson/.htpasswd_demo
AuthGroupFile /dev/null
AuthName "Blog zéro déchet (2018). ID = 'Demo' et mot de passe = 'NoSpying'. (c) 2018 Lilian Besson"
AuthType Basic
# Require valid-user

IndexOptions +SuppressDescription
IndexIgnore HEADER.md
IndexIgnore README.md
